---
title: Elixir Girls Guides Dev Tools
---
<h1>Additional Tools</h1>
<p>Depending on where you are at in your programming journey here are some additional tools you may want to consider installing.</p>

<h2>Text Editors</h2>
<p>If you are just starting out programming you will want to install a text editor so that you easily write code.</p>

<h3>Mac</h3>
<ul>
  <li><a href="https://www.sublimetext.com/3" target="blank" class="inline-link">Sublime Text</a></li>
  <li><a href="https://atom.io/" target="blank" class="inline-link">Atom</a></li>
</ul>
<h3>Windows</h3>
<ul>
  <li><a href="https://www.sublimetext.com/3" target="blank" class="inline-link">Sublime Text</a></li>
  <li><a href="https://github.com/atom/atom/releases/download/v1.18.0/atom-windows.zip" target="blank" class="inline-link">Atom</a></li>
</ul>

<h2>Git GUI</h2>
<p>If you are not familiar with git or are a visual learner you may find a graphical user interface a helpful tool for understanding Git Workflows.</p>

<h3>Mac</h3>
<ul>
  <li><a href="https://www.sourcetreeapp.com/" target="blank" class="inline-link">Source Tree</a></li>
  <li><a href="https://www.git-tower.com/mac/" target="blank" class="inline-link">Tower</a></li>
</ul>
<h3>Windows</h3>
<ul>
  <li><a href="https://www.sourcetreeapp.com/" target="blank" class="inline-link">Source Tree</a></li>
  <li><a href="https://www.git-tower.com/windows" target="blank" class="inline-link">Tower</a></li>
</ul>
