---
title: Elixir Girls Guides to Installing Elixir
---
<h1>Installing Elixir</h1>
<p>Elixir will run on practically any computer! To install Elixir and other software you'll need, follow our guide for your chosen operating system:</p>
<ul>
  <li><a class="inline-link" href="/install-guides/mac.html">Mac OS</a></li>
  <li><a class="inline-link" href="/install-guides/linux.html">Linux</a></li>
  <li><a class="inline-link" href="/install-guides/windows.html">Windows</a></li>
</ul>

<br />
<p>We've also provided guides for install <a class="inline-link" href="/install-guides/git.html">git</a>, a very widely used version control system, to help you track changes to your code, and a collection of other <a class="inline-link" href="/install-guides/dev-tools.html">recommended development tools</a></p>
<p>If you have any questions at all, grab a mentor! They've all been through the fuss and confusion of finding and installing new tools, so they'll be happy to help someone get to writing code as soon as possible!</p>
