---
title: Elixir Girls Guides Installing on Windows
---
<h1>Windows setup</h1>

<h2>Step 1 - Download Windows Installer</h2>
<a class="inline-link" href="https://repo.hex.pm/elixir-websetup.exe">https://repo.hex.pm/elixir-websetup.exe</a>

<p>Once downloaded you will want to go ahead and run the installer</p>

<h2>Step 2 - Install Postgres</h2>
<p>Postgres is the type of database that we will use for our application. To install click on the following link to download the Postgres installer</p>
<a class="inline-link" href="http://www.enterprisedb.com/products-services-training/pgdownload#windows">http://www.enterprisedb.com/products-services-training/pgdownload#windows</a>


<h2>Step 3 - Install Elixir</h2>
<p>We will also need the Elixir langage itself installed!</p>
<p><a class="inline-link" href="https://repo.hex.pm/elixir-websetup.exe">Download the installer</a>, run it, and click through the steps</p>
<p></p>

<h2>Step 4 - Install Node</h2>
<p>In order to run the Javascript parts of our program, we will also need node installed</p>
<p>Go to <a class="inline-link" href="https://nodejs.org/en/download/current/">https://nodejs.org/en/download/current/</a> and download the Windows Installer (.msi) (you will probably need the 64-bit version) and run it</p>

<h2>Step 5 - Install Phoenix</h2>
<p>Since we have just installed Elixir for the first time, we will need to install the Hex package manager as well. Hex is necessary to get a Phoenix app running (by installing dependencies) and to install any extra dependencies we might need along the way.</p>
<% code("bash") do %>
mix local.hex
<% end %>
<p>Now that we have Hex installed we can install Phoenix</p>
<% code("bash") do %>
mix archive.install hex phx_new 1.4.10
<% end %>



<h2>Next Steps</h2>
<p>If you haven't coded before you will want to take a look at <a class="inline-link" href="/install-guides/dev-tools.html">additional tools</a> for some extra tools that will help you get started otherwise we're good to go! Let's go write some elixir!</p>

