---
title: Elixir Girls Guides Installing on Windows
---
<h1>Windows setup</h1>

<h2>Step 1- Download Windows Installer</h2>
<a class="inline-link" href="https://repo.hex.pm/elixir-websetup.exe">https://repo.hex.pm/elixir-websetup.exe</a>

<p>Once downloaded you will want to go ahead and run the installer</p>

<h2>Step 2- Install Postgres</h2>
<p>Postgres is the type of database that we will use for our application. To install click on the following link to download the Postgres installer</p>
<a class="inline-link" href="http://www.enterprisedb.com/products-services-training/pgdownload#windows">http://www.enterprisedb.com/products-services-training/pgdownload#windows</a>

<p>If this is your first time installing Postgres than you will need to create a database.</p>

<p>If you haven't coded before you will want to take a look at <a class="inline-link" href="/install-guides/dev-tools.html">additional tools</a> for some extra tools that will help you get started otherwise we're good to go! Let's go write some elixir!</p>
