<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Elixir Girls Guides</a>
    </div>
    <!-- /.navbar-header -->

    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="mac-install.html">Mac</a>
                </li>
                <li>
                    <a href="windows-install.html">Windows</a>
                </li>
                <li>
                    <a href="linux-install.html">Linux</a>
                </li>
                <li>
                    <a href="git-install.html">Install Git</a>
                </li>
                <li>
                    <a href="dev-tools.html">Additional Tools</a>
                </li>
                <li>
                    <a href="slackir.html">Slackir App</a>
                </li>
                <li>
                    <a href="channels.html">Channels</a>
                </li>
                <li>
                    <a href="persistence.html">Persistence</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
