---
title: Elixir Girls Deploy on Heroku
---
<h1>Deploy your Phoenix app on Heroku</h1>
<p>Now that you've built your app, you probably want to put it somewhere so that other people can
  see your amazing website!</p>
<p><a href="https://heroku.com" target="_blank" class="inline-link">Heroku</a>
Is a platform that allows you to do that simply, and best of all, it's free to get started!</p>

<p>The first thing you'll want to do is <a href="https://signup.heroku.com" target="_blank" class="inline-link">create a free account</a>
on Heroku.</p>

<p>After you've done this, head on over to the official
  <a href="https://hexdocs.pm/phoenix/heroku.html#initializing-git-repository" target="_blank" class="inline-link">Phoenix documentation</a>
  and follow the excellent guide on how to deploy your app to Heroku</p>
