---
title: Elixir Girls Guides
layout: guide
---
<p>Welcome to Elixir Girls. These guides have been developed by our fantastic community of volunteer mentors, some of whom you will meet today. These guides are designed to make learning to develop with Elixir and Phoenix more approachable and to help build a diverse and inclusive community. Get started by choosing the install guide for your operating system either <a class="inline-link" href="/install-guides/mac.html">Mac</a>, <a class="inline-link" href="/install-guides/windows.html">Windows</a> or <a class="inline-link" href="/install-guides/linux.html">Linux</a></p>

<p>If you would like to contribute to these guides you can do so by forking the repository and creating a pull request on <a class="inline-link" href="https://github.com/Elixir-Girls/elixirgirls.github.io">Github</a></p>
