---
title: Elixir Girls Guides Slackir App
---
<h1>Slackir</h1>
<p>Now that you have all of your development tools and dependencies installed you can start working on developing your first application Slackir! It's like Slack but in Elixir. Slackir will make the most of phoenix’s web sockets and evented programming. You will see different types of code snippets through out these docs, if they beign with a "$"" then they are terminal commands and you do not need to copy the $ into the terminal.</p>

<h2>Setting up Our App</h2>
<p>The first thing that we want to do is create our Phoenix app. We do this with the following command and we'll pass in "slackir" as the name of our app.</p>

<% code("bash") do %>
$ mix phoenix.new slackir
<% end %>

<p>The next step is to move into our newly created application. To do that run the following command to change the directory.</p>

<% code("bash") do %>
$ cd slackir
<% end %>

<p>Now we can install our applications dependencies by running</p>

<% code("bash") do %>
$ npm install
<% end %>

<p>and we can create our database by running</p>

<% code("bash") do %>
$ mix ecto.create
<% end %>

<p>To start the server you will need to run</p>

<% code("bash") do %>
$ mix phoenix.server
<% end %>

<p>and go to <a href="http://127.0.0.1:4000" target="blank" class="inline-link">http://127.0.0.1:4000</a> to view your new application! </p>
