---
title: Elixir Girls Guides - Version Control (Git)
---
<h1>Version Control</h1>
<p>So you've heard about this thing <em>git</em>, but what actually is it?!</p>
<p>Git is a version control system (VCS) that enables us to do a couple of key things when programming.</p>
<p>Firstly, it allows us to keep track of the changes to our files over time (so if we make a mistake,
we can easily go back).<br>Secondly, it allows many developers to work on the same code at the same time without stepping
on each others toes!</p>

<h2>Installing Git</h2>
<p>You may have installed a GUI (Graphical User Interface) for Git from the
  <a class="inline-link" href="/install-guides/dev-tools.html">Additional Tools</a> page. If you have, great! If not,
  feel free to install one now. Installing the GUI will also install the command line tool which you
  can access from your favourite terminal application. You don't have to use the GUI if you don't want
  to, but it's often easier in the beginning whilst you're learning.
</p>

<h2>Trying Git out</h2>
<p>If you want to learn more about git and how to do the fundamentals from the command line, you can
do this great little online tutorial <a class="inline-link" href="https://try.github.io" target="_blank">tryGit</a></p>
