---
title: Elixir Girls Beginner's Guide
---

<%= partial "partials/guides-nav" %>

<div id="wrapper">
  <!-- Navigation -->
  <%= partial "partials/guides-sidebar-nav" %>
  <div id="page-wrapper">
    <h1>Elixir Beginner's Guide</h1>

    <h2>What is Elixir?</h2>
      <p>
        Elixir is a functional programming language. It can be used to write any type of software, but is most commonly used to build servers, especially web server applications - the software systems that serve websites and provide mobile apps with data.
      </p>
      <p>
        Being a functional language basically just means that the code written in Elixir passes all of the data needed for each function explicitly. Functions are usually connected to each other, with the output of one function being used as the input for another one. This is a bit different to how many other languages work, but it doesn't make Elixir any harder to write, in fact it makes reasoning about how a program works a lot easier, once you get the hang of thinking functionally!
      </p>
      <p>
        Elixir was started by a well-known Ruby developer named José Valim (@josevalim on github and twitter) in 2011 in order to address some frustrations many developers have with Ruby. Because of this heritage, Elixir has a similar feel to Ruby, and most Ruby developers love Elixir just as much (or more!) than Ruby (and they LOOOOOOVE Ruby!) - ask your mentor, they are probably a Ruby developer, or have been in the past.
      </p>
    <h2>IEx: The Interactive Elixir Shell</h2>
    <h2>Modules and Functions</h2>
    <h2>The Standard Library</h2>
    <h2>Mix and Elixir Projects</h2>
    <h2>Mix Tasks</h2>
    <h2>External Packages</h2>
    <h2>Star Wars Character Search!</h2>
    <h2>Resources for Learning</h2>
  </div>
  <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Theme JavaScript -->
<script src="javascripts/creative.js"></script>
<script src="javascripts/sidebar.js"></script>
