---
title: Elixir Girls Beginner's Guide
---

<%= partial "partials/guides-nav" %>

<div id="wrapper">
  <!-- Navigation -->
  <%= partial "partials/guides-sidebar-nav" %>
  <div id="page-wrapper">
    <h1>Elixir Beginner's Guide</h1>

    <h2>What is Elixir?</h2>
    <h2>IEx: The Interactive Elixir Shell</h2>
    <h2>Modules and Functions</h2>
    <h2>The Standard Library</h2>
    <h2>Mix and Elixir Projects</h2>
    <h2>Mix Tasks</h2>
    <h2>External Packages</h2>
    <h2>Star Wars Character Search!</h2>
    <h2>Resources for Learning</h2>
  </div>
  <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Theme JavaScript -->
<script src="javascripts/creative.js"></script>
<script src="javascripts/sidebar.js"></script>
