---
title: Elixir Girls Guides Slackir App
---

<%= partial "partials/guides-nav" %>

<div id="wrapper">

        <!-- Navigation -->
        <%= partial "partials/guides-sidebar-nav" %>

        <div id="page-wrapper">
          <h1>Slackir</h1>
            <p>Now that you have all of your development tools and dependencies installed you can start working on developing your first application Slackir, it's like Slack but in Elixir. You will see different types of code snippests through out these docs if they beign with a $ then they are terminal commands, you do not need to copy the $ into the terminal.</p>

            <h2>Setting up Our App</h2>
            <p>The first thing that we want to do is to create our Phoenix app we do this with the following command and we pass in slackir as the name of our app.</p>

            <% code("bash") do %>
$ mix phoenix.new slackir
            <% end %>
            



        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Theme JavaScript -->
<script src="javascripts/creative.js"></script>
<script src="javascripts/sidebar.js"></script>
